@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {

  /* temp */

  --Cmaincolor: #ffffff;
  --Ccolor1: #f77c73;
  --Ccolor2: #6cbdff;
  --Ccolor3: #71ff76;
  --Ccolor4: #ffd65d;

  /* Color Palette Section */

  --color-1: #0f1016;
  --text-color: #f0f0f0;
  --accent-color: #89D1D1;
  --accent-color-2: #908FDB;
  --bg-color: #030C44;
  --card-bg-color: #1C1853;
  --heading-font: 'Outfit', sans-serif;
  --body-text-font: 'Roboto', sans-serif;

  /* Main-section */

  --body-text-font-family: "Roboto", Helvetica;
  --body-text-font-weight: 400;
  --body-text-font-size: 16px;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: 27.5px;
  --body-text-font-style: normal;
  --main-heading-font-family: "Outfit", Helvetica;
  --main-heading-font-weight: 700;
  --main-heading-font-size: 65px;
  --main-heading-letter-spacing: 0px;
  --main-heading-line-height: 100%;
  --main-heading-font-style: normal;
  --sub-heading-font-family: "Outfit", Helvetica;
  --sub-heading-font-weight: 700;
  --sub-heading-font-size: 20px;
  --sub-heading-letter-spacing: 2.6px;
  --sub-heading-line-height: 27.5px;
  --sub-heading-font-style: normal;
  --h2-font-family: "Outfit", Helvetica;
  --h2-font-weight: 700;
  --h2-font-size: 58px;
  --h2-letter-spacing: 0px;
  --h2-line-height: 100%;
  --h2-font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12pt;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
}

#Parent {
  z-index: -1;
  width: 100%;
  height: 100vh;
}

/* -------------- */
/* Navbar Section */
/* -------------- */

nav {
  height: 60px;
  /* background-color: var(--color-1); */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: var(--heading-font);

  z-index: 1000;
}

.links-container {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  padding-right: 10%;

  z-index: 1001;
}

nav {
  font-weight: bold;
}

#overlay {
  z-index: 1000;
  /* Ensure overlay is above the rest */
}

nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--accent-color);
}

nav .work-page-link {
  margin-right: auto;
}

nav svg {
  fill: var(--text-color);
}

#sidebar-action {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
  z-index: 1002;
}

/* ------------------ */
/* Work Title Section */
/* ------------------ */

.work-section-container {
  display: none;
}

.word-card {
  min-height: 100px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 8px solid red; */
  overflow: hidden;
}

.loader {
  background-color: #1c185370;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 78%;
  height: 68px;
  box-shadow: 8px 8px 19px #07070717,
    -8px -8px 19px #ffffff00;
  overflow: hidden;
  padding-left: 2rem;
}

.loader pre,
span {
  color: var(--text-color);
  font-family: var(--h2-font-family);
  font-weight: var(--h2-font-weight);
  font-size: 50px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition: color 0.3s ease;
}

.words {
  overflow: hidden;
  position: relative;
}

.words::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: var(--accent-color-2);
  animation: spin_4991 6s infinite;
  transition: color 0.3s ease;
}

.word-card:hover .word {
  color: var(--accent-color);
}

/* .word-card:hover .loader pre {
  color: var(--accent-color-2);
} */

@keyframes spin_4991 {
  0% {
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
  }

  25% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  50% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }

  75% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }
}



/* ------------------------ */
/* Work flip cards section  */
/* ------------------------ */


.dis-flip-cards-container {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.flip-card-holder {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  width: 78%;
  height: auto;
  gap: 2rem;
}

.flip-card-container {
  /* background-color: #908FDB; */
	width: 477px;
	height: 252px;
  padding: 1rem;
  margin-top: 2.3rem;
}

.flip-card-container:hover > .card{
	cursor: pointer;
	transform: rotateY(180deg);
}

.flip-card-container .card {
	height: 100%;
	width: 100%;
	position: relative;
	transition: transform 500ms;
	transform-style: preserve-3d;
}


.flip-card-container .front, .flip-card-container .back {
	height: 100%;
	width: 100%;
	border-radius: 1.8rem;
	box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.025);
	position: absolute;
	backface-visibility: hidden;
}

.flip-card-container .front {
	background-image: url(https://images.unsplash.com/photo-1512850183-6d7990f42385?q=350&w=500);
	padding: 1rem;
	color: rgb(211, 211, 211);
}

.flip-card-container .back {
	/* background-color: rgba(255, 255, 255, 0.74); */
  background-color: #1c185370;
	transform: rotateY(180deg);
	padding: 1rem;
}

.flip-card-container .title {
	position: absolute;
  color: var(--text-color);
	bottom: 1.5rem;
	left: 3rem;
	width: 60%;
	font-weight: bold;
	font-size: 1.7rem;
	line-height: 2.3rem;
	transition: bottom 500ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.flip-card-container .title-back {
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-decoration-thickness: 2px;
  text-underline-offset: .4rem;
}

/* .flip-card-container .arrow-front {
	position: absolute;
	bottom: 5rem;
	right: 3rem;
	color: #19ABFE;
	font-size: 1.4rem !important;
	border-radius: 50%;
	border: solid 1px #19ABFE;
	padding: 0.8rem;
} */

/* .flip-card-container .bottom-container{
	position: absolute;
	bottom: 4rem;
	right: 3rem;
	display: flex;
	align-items: center;
} */

/* .flip-card-container .read-more {
	color: #19ABFE;
	font-size: 1rem;
	margin-right: 2rem;
} */

/* .flip-card-container .arrow {
	margin-left: auto;
	margin-right: auto;
	color: #19ABFE;
	font-size: 1.4rem !important;
	border-radius: 50%;
	border: solid 1px #19ABFE;
	padding: 0.8rem;
} */

.flip-card-container:hover>.card .title {
	bottom: 55%;
}

/* .flip-card-container .map {
	position: absolute;
	top: 18%;
	color: #6BBE51;
	font-size: 5rem !important;
} */

.flip-card-container .description {
	position: absolute;
	bottom: 27%;
	color: #6C7994;
  margin-left: 2rem;
	margin-right: 2rem;
	font-size: 0.85rem;
	/* margin-bottom: 8rem; */
}


/* ----------------- */
/* Work Card Section */
/* ----------------- */

/* Card title */

.skill-work-title-holder {
  /* background-color: #ffd65d; */
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 2rem;
}

.skill-work-title {
  /* background-color: #6cbdff; */
  width: 78%;
  height: auto;
}

.skill-work-title-v2 {
  /* background-color: #6cbdff; */
  width: 78%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.skill-work-title p {
  font-size: var(--sub-heading-font-size);
  font-weight: var(--sub-heading-font-weight);
  font-family: var(--sub-heading-font-family);
  letter-spacing: var(--sub-heading-letter-spacing);
  color:var(--accent-color);
  padding-bottom: 5px;
}

.skill-work-title hr {
  border: 1.5px solid var(--text-color);
  opacity: .7;
  border-radius: 15px;
}

/* cards */

.dis-cards-container {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.dis-cards {
  /* background-color: #ffffff; */
  width: 78%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
}

#size-controler {
  width: 525px;
  height: 525px;
  overflow: hidden;
  /* background-color: aqua; */
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.card1 {
  background-color: var(--Ccolor1);
}

.card2 {
  background-color: var(--Ccolor2);
}

.card3 {
  background-color: var(--Ccolor3);
}

.card4 {
  background-color: var(--Ccolor4);
}

.card {
  flex: 1;
  height: 100%;
  transition: flex .5s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: left;
  contain: content;
}

.card:hover {
  flex: 3;
}

.textstyle {
  /* font-family: "Outfit", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: var(--Cmaincolor); */
  transition: transform 0.5s ease;
  /* transform: scale(.5); */
  translate: .5;
}

.card:hover .textstyle {
  transform: scale(1.5);
  transition: transform 0.5s ease;
}

/* ---------------------- */
/* Responsiveness Section */
/* ---------------------- */

/* Navigation Section */

@media(max-width: 525px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    height: 100%;
    background-color: var(--color-1);
    box-shadow: -5px 0 5px rgba(0, 0, 0, .25);
    transition: right 0.3s ease;
    padding-top: 60px;
    /* Ensure enough space for the close button */
  }

  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }

  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px;
    display: block;
  }

  #sidebar-action:checked~.links-container {
    right: 0;
  }

  #sidebar-action:checked~.open-sidebar-button {
    z-index: 1;
    display: none;
  }

  .close-sidebar-button {
    position: absolute;
    top: -5px;
    right: 0;
  }

  #sidebar-action:checked~#overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

/* Work title Section */

@media(max-width: 700px) {
  .work-section p {
    font-size: 45px;
  }
}

@media(max-width: 600px) {
  .work-section p {
    font-size: 35px;
  }
}

@media(max-width: 572px) {
  .loader {
    height: 65px;
    display: flex;
    padding-left: 5rem;
  }

  .loader pre,
  span {
    font-size: 40px;
  }
}

@media(max-width: 525px) {
  .word-card {
    display: none;
  }

  .work-section-container {
    min-height: 15px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: .5rem;

    transform: translateY(-3.3rem);
  }

  .work-section {
    background-color: #1c185370;
    border-radius: 10px;
    width: 50%;
    height: 40px;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 9.5px #07070717,
      -4px -4px 9.5px #ffffff00;
  }

  .work-section a {
    text-decoration: none;
  }

  .work-section p {
    font-size: 20px;
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
    letter-spacing: var(--h2-letter-spacing);
    color: var(--text-color);
    transition: color 0.3s ease;
  }

  .work-section p:hover {
    color: var(--accent-color);
  }
}

/* ------------------------ */
/* Work flip cards section  */
/* ------------------------ */

@media(max-width: 1188px) {
  .flip-card-container:hover>.card .title {
    bottom: 75%;
  }
  .flip-card-container .description {
    bottom: 14%;
  }
}

@media(max-width: 780px) {
  .flip-card-holder {
    gap: 1rem;
  }
  .flip-card-container {
    margin-top: 2rem;
  }
  .flip-card-container:hover>.card .title {
    bottom: 75%;
  }
  .flip-card-container .description {
    bottom: 14%;
  }
}

@media(max-width: 695px) {
  .flip-card-container .description {
	font-size: 0.65rem;
}
}

@media(max-width: 525px) {
  .flip-card-container .description {
	font-size: 0.85rem;
}
  .flip-card-holder {
    flex-direction: column;
    gap: 0rem;
  }
  .flip-card-container {
    width: 88%;
    margin-top: 1.5rem;
  }
}

/* ------------------- */
/* Work cards section  */
/* ------------------- */

@media(max-width: 780px) {
  .dis-cards {
    gap: 1rem;
    padding-top: 1rem;
  }
}

@media(max-width: 525px) {
  .dis-cards {
    flex-direction: column;
  }

  #size-controler {
    width: 100%;
    height: 300px;
  }
  .skill-work-title p {
    font-size: 15px;
  }
}