/* ------------------------- */
/* Background Design Section */
/* ------------------------- */

.BG-circle-box {
    position: absolute;
    margin-top: -1.5rem;
    width: 100%;
    height: 380%;
    z-index: -10;
    overflow: hidden;
}

.BG-circle-box .BG-circles {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
}

.circle {
    width: 400px;
    height: 400px;
    position: absolute;
    border-radius: 19rem;
    filter: blur(8rem);
    opacity: .7;
}

.BG-circles .circle-1 {
    top: -7%;
    left: 24%;
    transform: scale(1.1);
    background-color: #8080d7be;
}

.BG-circles .circle-2 {
    top: 12%;
    right: -5%;
    transform: scale(1.2);
    background-color: #aad9d991;
}

.BG-circles .circle-3 {
    top: 22%;
    left: -7%;
    transform: scale(.9);
    background-color: #8080d7be;
}

.BG-circles .circle-4 {
    top: 43%;
    left: 23%;
    transform: scale(.7);
    background-color: #8080d7be;
}

.BG-circles .circle-5 {
    top: 47%;
    left: 44%;
    transform: scale(.7);
    background-color: #aad9d991;
}

.BG-circles .circle-6 {
    bottom: 12%;
    left: -10%;
    transform: scale(.65);
    background-color: #aad9d991;
}