/* ----------------- */
/* Portfolio Section */
/* ----------------- */

.portfolio-section-container{
    min-height: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.intro-to-left, .intro-img-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
}

.intro-to-left {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-img-right {
    width: 32%;
}

.portfolio-text-content {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    padding-top: 1rem;
}

.btn-box-portfolio {
    width: 100%;
    height: 12%;
    margin-bottom: 3rem;
}

#intro-title {
    font-size: 25px;
    font-weight: var(--sub-heading-font-weight);
    font-family: var(--sub-heading-font-family);
    letter-spacing: var(--sub-heading-letter-spacing);
    color:var(--accent-color);
}

#portfolio-title {
    font-family: var(--main-heading-font-family);
    font-weight: var(--main-heading-font-weight);
    color: #ffffff;
    font-size: var(--main-heading-font-size);
    letter-spacing: var(--main-heading-letter-spacing);
    line-height: var(--main-heading-line-height);
    font-style: var(--main-heading-font-style);
    margin-bottom: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

#portfolio-title:hover {
    opacity: .7;
}

#post-summary {
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: #ffffff;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    font-style: var(--body-text-font-style);
    line-height: 23px;
}

#my-work-2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 100%;
    background: var(--accent-color-2);
    border: 2px solid var(--accent-color-2);
    border-radius: 50px;
    font-size: 14px;
    color: var(--bg-color);
    text-decoration: none;
    font-weight: 550;
    letter-spacing: 1.47px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    font-family: var(--heading-font);
    left: -71px;
    cursor: pointer;
    transition: 0.3s ease;
}

#my-work-2:hover {
    background-color: var(--accent-color);
    color: var(--bg-color);
    border: none;
}

#img-hover-ani-2 {
    width: auto;
    display: flex;
    justify-content: end;
    align-items: center;
}

#img-hover-ani-2 {
    max-width: 105%;
    object-fit: contain;
    margin-bottom: 2rem;
    padding-left: 5.5rem;
    cursor: pointer;
    transition: .15s ease-in-out;
}
    
#img-hover-ani-2:hover {
    opacity: .7;
}